.song_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.song_title a:link {
  color: #096;
}

.song_title a:hover {
  color: #fff;
  background: #096;
}
